<div class="text-gray-200">

    <!-- <h1 class="font-bold mb-2" x-text=" selectedTicket.id + ' | ' + selectedTicket.title"></h1> -->

    <div class="flex items-center mb-2">
        <h1 class="font-bold" x-text="selectedTicket.id + ' | ' + selectedTicket.title"></h1>
    </div>



    <div class="flex space-x-2 border-b border-gray-400">

        <button @click="goTo('tickets')" class="tab-btn" @click="currentTab = 'waiting'"
            :class="currentTab === 'waiting' ? 'border-b-2 border-gray-400 text-white' : 'border-b-2 border-transparent text-gray-400 hover:text-gray-200 hover:border-gray-500'"
            class="">
            ← Voltar
        </button>

        <button class="tab-btn" @click="currentTab = 'waiting'"
            :class="currentTab === 'waiting' ? 'border-b-2 border-gray-400 text-white' : 'border-b-2 border-transparent text-gray-400 hover:text-gray-200 hover:border-gray-500'"
            class="">
            Detalhes
        </button>

        <button class="tab-btn" @click="currentTab = 'in_progress'"
            :class="currentTab === 'in_progress' ? 'border-b-2 border-gray-400 text-white' : 'border-b-2 border-transparent text-gray-400 hover:text-gray-200 hover:border-gray-500'"
            class="">
            Transferir chamado
        </button>

        <button class="tab-btn" @click="currentTab = 'feedback'"
            :class="currentTab === 'feedback' ? 'border-b-2 border-gray-400 text-white' : 'border-b-2 border-transparent text-gray-400 hover:text-gray-200 hover:border-gray-500'"
            class="">
            Concluir chamado
        </button>

        <button class="tab-btn" @click="currentTab = 'awaiting_confirmation'"
            :class="currentTab === 'awaiting_confirmation' ? 'border-b-2 border-gray-400 text-white' : 'border-b-2 border-transparent text-gray-400 hover:text-gray-200 hover:border-gray-500'"
            class="">
            Time log
        </button>

    </div>

</div>


<div
 class=" mt-3 p-4 bg-gray-800 rounded text-gray-200">
    
    <h2 class="text-md font-semibold mb-2">Descrição</h2>

    <p class="mb-1 text-sm" x-text="selectedTicket.description"></p>

    <p class="text-xs text-gray-400">
        Prioridade: <span x-text="selectedTicket.priority"></span>
    </p>

    <hr class="m-6 text-gray-400">

    <div>
        <h2 class="text-md font-semibold mb-2">Comentários</h2>

        <template x-for="comment in (selectedTicket?.comments || [])" :key="comment.id">
            <div class="mb-2 p-2 rounded bg-gray-700 text-sm">
                <p x-text="comment.comment"></p>
                <p class="text-xs text-gray-400">
                    por <span x-text="comment.author.name"></span>
                </p>
            </div>
        </template>

        <template x-if="!selectedTicket.comments || selectedTicket.comments.length === 0">
            <p class="text-gray-400 text-sm">Nenhum comentário ainda.</p>
        </template>
    </div>

    <button @click="goTo('tickets')" class="mt-4 px-3 py-1 bg-blue-600 hover:bg-blue-700 rounded">
        Adicionar comentário
    </button>
</div>



</div>