<div x-init="getTickets()" class="flex flex-col h-full gap-3">

  <!-- Cabeçalho FIXO AO TOPO  -->
  <div class=" p-1 rounded-t-lg  sticky top-0 z-10">

    <h1 class=" mr-1 font-bold text-white">Chamados</h1>

    <div class="flex space-x-2 border-b border-gray-400">

      <button class="tab-btn" @click="currentTab = 'all'"
        :class="currentTab === 'all' ? 'border-b-2 border-gray-400 text-white' : 'border-b-2 border-transparent text-gray-400 hover:text-gray-200 hover:border-gray-500'"
        class="">
        Todos
      </button>

      <button class="tab-btn" @click="currentTab = 'waiting'"
        :class="currentTab === 'waiting' ? 'border-b-2 border-gray-400 text-white' : 'border-b-2 border-transparent text-gray-400 hover:text-gray-200 hover:border-gray-500'"
        class="">
        Aguardando atendimento
      </button>

      <button class="tab-btn" @click="currentTab = 'in_progress'"
        :class="currentTab === 'in_progress' ? 'border-b-2 border-gray-400 text-white' : 'border-b-2 border-transparent text-gray-400 hover:text-gray-200 hover:border-gray-500'"
        class="">
        Em atendimento
      </button>

      <button class="tab-btn" @click="currentTab = 'feedback'"
        :class="currentTab === 'feedback' ? 'border-b-2 border-gray-400 text-white' : 'border-b-2 border-transparent text-gray-400 hover:text-gray-200 hover:border-gray-500'"
        class="">
        Feedback do solicitante
      </button>

      <button class="tab-btn" @click="currentTab = 'awaiting_confirmation'"
        :class="currentTab === 'awaiting_confirmation' ? 'border-b-2 border-gray-400 text-white' : 'border-b-2 border-transparent text-gray-400 hover:text-gray-200 hover:border-gray-500'"
        class="">
        Enviado para encerramento
      </button>

      <button class="tab-btn" @click="currentTab = 'done'"
        :class="currentTab === 'done' ? 'border-b-2 border-gray-400 text-white' : 'border-b-2 border-transparent text-gray-400 hover:text-gray-200 hover:border-gray-500'"
        class="">
        Concluído
      </button>
    </div>
  </div>


  <!-- Lista de tickets -->
  <div class="overflow-auto">

    <template x-for="ticket in filteredTickets" :key="ticket.id">

      <!-- Ticket -->
      <div @click="viewTicket(ticket)" class=" menu-item p-20 bg-gray-800 rounded shadow flex justify-between">

        <!-- Esquerda -->
        <div class=" content-center w-3/4">
          <p class="inline text-sm text-gray-400" x-text="ticket.id + ' |'"></p>
          <p class=" inline text-sm text-gray-400" x-text="ticket.hotel.name + ' - '"></p>
          <p class=" inline text-sm text-gray-400" x-text="ticket.hotel.code"></p>
          <h2 class="mt-1 text-white font-bold text-sm" x-text="ticket.title"></h2>
          <p class=" italic text-sm text-gray-300" x-text="ticket.description"></p>
        </div>

        <!-- Direita -->
        <div class="min-h-20 flex flex-col justify-center w-1/4 text-right">

          <div>
            <span class="text-red-500 font-semibold" x-show="ticket.progress === 'waiting'"
              x-text="'Aguardando atendimento'"></span>

            <span class="text-blue-500 font-semibold" x-show="ticket.progress === 'in_progress'"
              x-text="'Em atendimento'"></span>

            <span class="text-amber-500 font-semibold" x-show="ticket.progress === 'feedback'"
              x-text="'Feedback do solicitante'"></span>

            <span class="text-green-500 font-semibold" x-show="ticket.progress === 'done'" x-text="'Concluído'"></span>

            <span class="text-slate-400 font-semibold" x-show="ticket.progress === 'awaiting_confirmation'"
              x-text="'Enviado para encerramento'"></span>

          </div>

          <div>
            <p class="text-sm italic" x-text="'Aberto por ' + ticket.creator.name"></p>
          </div>

          <p class="text-sm" x-text="dayjs(ticket.created_at).format('DD/MM/YYYY HH:mm')"></p>

        </div>
      </div>
    </template>

    <!-- Mensagem quando não há tickets -->
    <p x-show="ticketList.length === 0" class="text-gray-400">Nenhum chamado encontrado</p>

  </div>

</div>